.color {
  color: white;
  background-color: #f4a100;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin-top: 65px;
}

.body {
  background-color: #f2f6fc;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

section {
  margin: 0 40px 20px 40px;
}

.fontstyle1 {
  margin-left: 40px;
  text-align: left;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.fontstyle2 {
  margin-left: 40px;
  font-size: 20px;
  color: hsla(0, 0%, 100%, .5);
  opacity: 1;
  text-align: left;
}

.fontstyle3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #f4a100;
}

.fontstyle4 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.topgrid {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
  height: 90px;
  padding: 10px 0 10px 70px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.topgrid1 {
  margin: 25px 42px 0 41px;
  border: 0px solid white;
  background-color: white;
  font-size: 15px;
  height: 50px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.topgrid2 {
  margin: 0px 40px 0 40px;
  border: 1px solid #e0e5ec;
  background-color: #f2f6fc;
  font-size: 15px;
  height: 600px;
  padding: 10px;
  overflow-y: scroll;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.topgrid3 {
  margin: 0px 40px 0 40px;
  border: 1px solid #e0e5ec;
  background-color: #f2f6fc;
  font-size: 15px;
  height: 600px;
  padding: 10px;
  line-height: 1px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.Boot {
  margin: 25px 40px 0 40px;
  border: 2px solid #e0e5ec;
  background-color: #e0e5ec;
  border-radius: 6px;
  padding: 2px;
  height: 20px;
  font-size: 12px;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.bootimg {
  height: 55px;
  width: 55px;
}

.img1 {
  height: 90px;
  width: 120px;
  border-radius: 8px;
  cursor: pointer;
}

.image1 {
  border: 2px solid #ffaf1a;
  padding: 16px;
  background-color: #ffaf1a;
  border-radius: 10px;
  font-size: 15px;
  width: 31%;
  height: 125px;
  line-height: 1.5px;
  margin: 20px 30px 0 150px
}

.carbon-text {
  color: hsla(0, 0%, 100%, .8);
  height: 50px;
  font-size: 11px;
}

.grid {
  padding: 50px 125px 5px 125px;
}

.grid1 {
  padding: 50px 125px 50px 125px;
}

.cardcolor {
  background-color: white;
  height: 150px;
  border: 2px solid black;
}

.number {
  text-align: center;
  padding-top: 49px;
  font-size: 30px;
  color: grey;
}

.number1 {
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
  color: grey;
}

.Button {
  font-weight: bold;
  padding-left: 55px;
  padding-bottom: 50px;
  background-color: white;
}

.cart {
  margin-left: 0%;
  margin-top: 8px;
  padding: 0px 20px;
}

.home {
  margin-left: 9px;
  margin-top: 0px;
  color: #69707a;
}


.home2 {
  margin-left: 500px;
}

#B1 {
  width: 160px;
}

section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}

.hero {
  position: relative;
  height: 115px;

  background-color: #f4a100;
}

.svgpoly {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vw;
  fill: #f2f6fc;
}

.SB {
  font-weight: 600;
  font-size: 19.2px;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.dbar {
  margin: 25px 40px 25px 40px;
}

.tb2 {
  background-color: white;
}

.dcard1 {
  color: #363d47;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: 27px
}

.dcard2 {
  color: #69707a;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: 19px;
}

.smalltxt {
  color: #69707a;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
}

.abar {
  padding: 25px;
  background-color: white;

}

.wimg {
  height: 280px;
  width: 180px;
  margin-top: 20px;
}

.btm {
  text-align: center;
  color: #69707a;
  font-size: 14px;
  margin-top: 35px;
}

.btm1 {
  text-align: center;
  color: #69707a;
  font-size: 12px;
  font-style: italic;
}

.btmcolor {
  background-color: #f2f6fc;
}

.bcontent {
  margin: 40px;
  color: #69707a
}

.Bcont1 {
  font-weight: bold;
  color: #69707a;
  font-size: 20px;
}

.Bcont {
  font-weight: bold;
  color: #69707a;
  font-size: 13px
}

.Ba {
  margin-top: 13px;
  line-height: 30px;
  font-size: 14px;
}

.Bs,
.Bs:hover {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.a:hover {
  border-bottom: 1px solid #69707a;
  cursor: pointer;
}

.navbar {
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.dropbtn1,
.dropbtn2,
.dropbtn3,
.dropbtn4 {
  border: none;
  outline: none;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 0%;
  text-align: center;
  color: #69707a;
  font-weight: 520;
}

.navbar a {
  font-size: 16px;
  text-align: center;
  padding: 0px 10px 0 10px;
  text-decoration: none;
  color: #69707a;
}

.NaF {
  color: black;
  text-decoration: none;
  font-size: 13px
}

.NaF:hover {
  color: black;
  border-bottom: 1px solid #69707a;
}

.Na {
  color: #69707a;
  padding-left: 0px;
  text-decoration: none;
}

.Na:hover {
  color: #69707a;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: white;
  padding: 7.2px;
  font-family: inherit;
  margin: 0;
}

.dropbtn,
.dropbtn:focus {
  border-bottom: 3px solid #0061f2;
}

.dplist {
  padding-left: 20px;
  color: #e81500;
  font-size: 12px;
  font-weight: bold;
}

.dplistb {
  padding-left: 20px;
  color: #0061f2;
  font-size: 12px;
  font-weight: bold;
}

.dpdimgr {
  color: #e81500;
}

.dpdimgb {
  color: #0061f2
}

.dpboot {
  color: #5800e8
}

.ddimggr,
.ddimggr:hover {
  color: black
}

.ddimggrimg {
  color: #c5ccd6;
}

.fa1 {
  padding: 0 0 0 10px;
  width: 115px;
  height: 25px;
}

.fa2 {
  cursor: pointer;
  background-color: white;
  padding: 7.2px;
  border-bottom: 3.5px solid inherit;
  margin: 0;
  transform: inherit;
  border: none;
  outline: none;
  transform: rotate(90deg);
}

.Fb {

  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  margin-left: 0px;
  font-size: 10px;
  padding-left: 5px;
  color: #69707a;
  transition: 0.2s;

}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: white;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 25px;
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 1;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.DangerBt {
  opacity: 0.7;
}

.show {
  display: block;
}

.btmborder {
  margin: 0 40px 0 40px;
  border-top: 1px solid lightgray;
  height: 110px;
  text-align: center;
}

.new {
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 41%;
  color: #e30059;
  background-color: #f1ddec;
  padding: 3px;
}

.fiddle {
  margin-left: 67%;
}

.Re {
  font-size: 12px;
  color: #69707a;
}

.fida {
  text-decoration: none;
}

.fidimg {
  height: 250px;
  font-size: 20px;
}

.color1 {
  background-color: #e0e5ec;
}

.bsvg {
  background-color: #e9ecef;
}

#fsvg {
  size: 15px;
  height: 10px;
  width: 10px;
}

.hero1 {
  position: relative;
  height: 115px;
  background-color: #f2f6fc;
}

.svg1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vw;
  fill: #e9ecef;
}

.fbimg {
  height: 25px;
  width: 33px
}

.fbimg1 {
  margin-top: 20px;
  height: 33px;
  width: 33px
}

a {
  color: #69707a;
}

pre {
  white-space: pre-wrap;
}
